.countdown{
    width:100%;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#8c1f78;
    color:white;
}

.countdown h1{
    font-size:120px;
    animation:zoom .8s ease;
}

@keyframes zoom{

    from{
        transform:scale(.2);
        opacity:0;
    }

    to{
        transform:scale(1);
        opacity:1;
    }

}