.game-over{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#111;

}

.game-over-card{

    background:white;

    padding:50px;

    border-radius:20px;

    text-align:center;

    width:450px;

}

.game-over h1{

    font-size:50px;

}

.game-over h2{

    margin-top:20px;

}

.game-over h3{

    font-size:70px;

    color:#2563eb;

    margin:30px;

}

.game-over button{

    width:100%;

    padding:15px;

    border:none;

    background:#2563eb;

    color:white;

    border-radius:10px;

    font-size:20px;

    cursor:pointer;

}